.vscode/
.idea/
.DS_Store
*.esm.json
node_modules/
*.js
*.js.map
*.esm.json
*.tns.json
*.metadata.json
*.log
!*build-native.js
src/**/*.d.ts
!picker.d.ts
!src/index.d.ts
!src/references.d.ts
!demo/karma.conf.js
!demo/app/tests/*.js
demo/platforms/
demo-angular/platforms/
demo-vue/platforms/
!demo/e2e-tests/*
!demo-vue/app/app.js
*.aar
/src/*.tgz
/publish/package/*.tgz
/publish/package/**/*
/publish/src/**/*
test-results.xml
**/reports/**/*
**/mochawesome-report/**/*