env:
  global:
    - ANDROID_PACKAGE_JS='picker-debug-js-next.apk'
    - ANDROID_PACKAGE_NG='picker-debug-ng-next.apk'
    - ANDROID_PACKAGE_VUE='picker-debug-vue-next.apk'
    - PACKAGE_FOLDER_JS=$TRAVIS_BUILD_DIR/demo/outputs
    - PACKAGE_FOLDER_NG=$TRAVIS_BUILD_DIR/demo-angular/outputs
    - PACKAGE_FOLDER_VUE=$TRAVIS_BUILD_DIR/demo-vue/outputs
    - SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER"
    - IOS_PACKAGE_JS='picker-demo-js-next.zip'
    - IOS_PACKAGE_NG='picker-demo-ng-next.zip'
    - IOS_PACKAGE_VUE='picker-demo-vue-next.zip'

git:
  depth: 1

branches:
  only: 
    - next
matrix:
  include:
    - stage: "WebPack and Build"
      os: osx
      env:
        - WebpackiOS="12.0"
        - Type="VanillaJS"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script:
        - pod repo update
        - cd ../demo && tns platform add ios@next
      script:
        - cd ../src && npm run build
        - cd ../demo && npm i && tns build ios --env.uglify --copy-to "./outputs/demo.app"
        - cd $PACKAGE_FOLDER_JS && zip -r $IOS_PACKAGE_JS demo.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$IOS_PACKAGE_JS?overwrite=true --data-binary @$PACKAGE_FOLDER_JS/$IOS_PACKAGE_JS"
    - os: osx
      env:
        - WebpackiOS="12.0"
        - Type="VueJS"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script:
        - pod repo update
        - cd ../demo-vue && tns platform add ios@next
      script:
        - cd ../src && npm run build
        - cd ../demo-vue && npm i && tns build ios --env.uglify --copy-to "./outputs/demovue.app"
        - cd $PACKAGE_FOLDER_VUE && zip -r $IOS_PACKAGE_VUE demovue.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$IOS_PACKAGE_VUE?overwrite=true --data-binary @$PACKAGE_FOLDER_VUE/$IOS_PACKAGE_VUE"
    - os: osx
      env:
        - WebpackiOS="12.0"
        - Type="Angular"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script:
        - pod repo update
        - cd ../demo-angular && tns platform add ios@next
      script:
        - cd ../src && npm run build && npm pack
        - cd ../demo-angular && tns plugin add ../src/*.tgz
        - npm i && tns build ios --env.uglify --env.aot --copy-to "./outputs/demoangular.app"
        - cd $PACKAGE_FOLDER_NG && zip -r $IOS_PACKAGE_NG demoangular.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$IOS_PACKAGE_NG?overwrite=true --data-binary @$PACKAGE_FOLDER_NG/$IOS_PACKAGE_NG"
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="VanillaJS"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../demo && npm i && tns build android --env.uglify --env.snapshot --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$ANDROID_PACKAGE_JS?overwrite=true --data-binary @$PACKAGE_FOLDER_JS/app-debug.apk"
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="VueJS"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo-vue && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../demo-vue && npm i && tns build android --env.uglify --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$ANDROID_PACKAGE_VUE?overwrite=true --data-binary @$PACKAGE_FOLDER_VUE/app-debug.apk"
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="Angular"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo-angular && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../publish && sh pack.sh
        - cd ../demo-angular && tns plugin add ../publish/package/*.tgz
        - npm i && tns build android --env.uglify --env.snapshot --env.aot --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $SAUCE_STORAGE/$ANDROID_PACKAGE_NG?overwrite=true --data-binary @$PACKAGE_FOLDER_NG/app-debug.apk"
    - stage: "UI Tests"
      env:
        - Android="24"
        - Type="Angular"
      language: node_js
      os: linux
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType android28 --sauceLab --appPath $ANDROID_PACKAGE_NG
    - os: linux
      env:
        - iOS="12.0"
        - Type="Angular"
      language: node_js
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim.iPhoneX.ios12.sauce --sauceLab --appPath $IOS_PACKAGE_NG
    - os: linux
      env:
        - Android="24"
        - Type="VueJS"
      language: node_js
      os: linux
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType android28 --sauceLab --appPath $ANDROID_PACKAGE_VUE
    - os: linux
      env:
        - iOS="12.0"
        - Type="VueJS"
      language: node_js
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim.iPhoneX.ios12.sauce --sauceLab --appPath $IOS_PACKAGE_VUE
    - os: linux
      env:
        - Android="24"
        - Type="VanillaJS"
      language: node_js
      os: linux
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType android28 --sauceLab --appPath $ANDROID_PACKAGE_JS
    - os: linux
      env:
        - iOS="12.0"
        - Type="VanillaJS"
      language: node_js
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../tests && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim.iPhoneX.ios12.sauce --sauceLab --appPath $IOS_PACKAGE_JS

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra-android-m2repository

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - .nvm
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - sudo pip install --upgrade pip
  - sudo pip install six

install:
    - echo no | npm install -g nativescript@next
    - tns usage-reporting disable
    - tns error-reporting disable
    - cd demo
    - npm install tns-core-modules@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest
    - cd ../demo-angular
    - npm install tns-core-modules@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-angular@next -P --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - ./node_modules/.bin/update-app-ng-deps
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest
    - cd ../demo-vue
    - npm install tns-core-modules@next -P --save-exact
    - npm install nativescript-vue@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest
