<ActionBar title="Reactive Forms">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="100, *" columns="*, *" [formGroup]="movieForm" class="yellow-grid">
    <Label row="0" col="0" text="Pick a movie:" class="black-label label-center field-name-label"></Label>
    <PickerField row="0" col="1" formControlName="movie" hint="select a movie" padding="10" pickerTitle="Pick a movie"
        class="picker-field" modalClass="myModal" textField="name" [items]="pickerItems">
        <ng-template let-item="item">
            <GridLayout rows="auto, *" columns="*, auto" class="yellow-grid">
                <Label [text]="item.name" colSpan="2" class="black-label item-template-top-label"></Label>
                <Label [text]="item.year" col="0" row="1" class="item-template-label" marginBottom="20"></Label>
                <Image [src]="item.imageUrl" col="1" row="0" rowSpan="2" class="item-template-picture"></Image>
            </GridLayout>
        </ng-template>
    </PickerField>

    <GridLayout row="1" col="0" colSpan="2" rows="auto, *" backgroundColor="white">
        <Button class="submit-button" text="Submit form" (tap)="onSubmit()"></Button>
    </GridLayout>
</GridLayout>>