.item-template-label {
    margin-left: 20;
}

.item-template-top-label {
    margin: 20;
    font-weight: bold;
}

.label-center {
    vertical-align: center;
}

.black-label {
    color: black;
    margin-left: 20;
}

.item-template-picture {
    height: 70;
    margin: 20;
    margin-left: 100;
}

.yellow-grid {
    background-color: #F5C518;
}

.picker ListView {
    background-color: green;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;
    separator-color: red;
}

PickerPage ActionBar {
    background-color: red;
    color: white;
}

.field-name-label {
    font-size: 20;
    font-weight: bold;
}

.submit-button {
    margin: 20;
}
