<ActionBar title="Reactive Forms">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="100, *" columns="*, *" [formGroup]="movieForm" class="yellow-grid">
    <Label row="0" col="0" text="Pick a movie:" class="black-label label-center field-name-label"></Label>
    <PickerField #picker row="0" col="1" formControlName="movie" hint="select a movie" padding="10" pickerTitle="Pick a movie" required
        class="picker" valueField="id" textField="name" [items]="pickerItems" (pickerOpened)="pickerOpened($event)" (pickerClosed)="pickerClosed($event)">
        <ng-template let-item="item">
            <GridLayout rows="auto, *" columns="*, auto">
                <Label [text]="item.name" colSpan="2" class="black-label item-template-top-label"></Label>
                <Label [text]="item.year" col="0" row="1" class="item-template-label" marginBottom="20"></Label>
                <Image [src]="item.imageUrl" col="1" row="0" rowSpan="2" class="item-template-picture"></Image>
            </GridLayout>
        </ng-template>
    </PickerField>

    <StackLayout row="1" col="0" colSpan="2" backgroundColor="white">
        <Button class="submit-button" text="Submit form" (tap)="onSubmit()"></Button>
        <Label class="centered-label label-bold" text="Picker.className:"></Label>
        <Label class="centered-label" [text]="picker.className"></Label>
        <Label class="centered-label label-bold" text="Picker.nativeElement.className:"></Label>
        <Label class="centered-label" [text]="picker.nativeElement.className"></Label>
        <Label [class]="picker.className.includes('ng-invalid') ? 'centered-label invalid-label' : 'centered-label valid-label'" text="Form status !!!"></Label>
    </StackLayout>
</GridLayout>>
