.item-template-label {
    margin-left: 20;
}

.item-template-top-label {
    margin: 20;
    font-weight: bold;    
}

.green-label {
    color: green;
}

.red-label {
    color: red;
}

/* Styling css start */

#picker {
    color: green;
}

ListView.picker-field {
    background-color: lightblue;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;
    separator-color: red;
    color: blue;
}

ActionBar.picker-field {
    background-color:yellow;
    color:black;
}

.item-template-picture {
    height: 70;
    width: 150;
    margin: 20;
    margin-left: 100;
}

/* Styling css end */